.banner-cards .swiper {
  width: 240px;
  height: 320px;
}

.banner-cards .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.banner-cards .swiper-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-cards .swiper-slide:nth-child(1n) {
  background-image: url("../../assets//banner-image/img-6.jpg");
}

.banner-cards .swiper-slide:nth-child(2n) {
  background-image: url("../../assets//banner-image/img-5.jpg");
}

.banner-cards .swiper-slide:nth-child(3n) {
  background-image: url("../../assets//banner-image/img-3.jpg");
}

.banner-cards .swiper-slide:nth-child(4n) {
  background-image: url("../../assets//banner-image/img-4.jpg");
}

.banner-cards .swiper-slide:nth-child(5n) {
  background-image: url("../../assets//banner-image/img-2.jpg");
}

.banner-cards .swiper-slide:nth-child(6n) {
  background-image: url("../../assets//banner-image/img-1.jpg");
}
